<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<integer>244</integer>
		<key>en</key>
		<string>Angola</string>
		<key>es</key>
		<string>Angola</string>
		<key>locale</key>
		<string>AO</string>
		<key>zh</key>
		<string>安哥拉</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>93</integer>
		<key>en</key>
		<string>Afghanistan</string>
		<key>es</key>
		<string>Afganistan</string>
		<key>locale</key>
		<string>AF</string>
		<key>zh</key>
		<string>阿富汗</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>355</integer>
		<key>en</key>
		<string>Albania</string>
		<key>es</key>
		<string>Albania</string>
		<key>locale</key>
		<string>AL</string>
		<key>zh</key>
		<string>阿尔巴尼亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>213</integer>
		<key>en</key>
		<string>Algeria</string>
		<key>es</key>
		<string>Algeria</string>
		<key>locale</key>
		<string>DZ</string>
		<key>zh</key>
		<string>阿尔及利亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>376</integer>
		<key>en</key>
		<string>Andorra</string>
		<key>es</key>
		<string>Andorra</string>
		<key>locale</key>
		<string>AD</string>
		<key>zh</key>
		<string>安道尔共和国</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1264</integer>
		<key>en</key>
		<string>Anguilla</string>
		<key>es</key>
		<string>Anguilla</string>
		<key>locale</key>
		<string>AI</string>
		<key>zh</key>
		<string>安圭拉岛</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1268</integer>
		<key>en</key>
		<string>Antigua and Barbuda</string>
		<key>es</key>
		<string>Antigua y Barbuda</string>
		<key>locale</key>
		<string>AG</string>
		<key>zh</key>
		<string>安提瓜和巴布达</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>54</integer>
		<key>en</key>
		<string>Argentina</string>
		<key>es</key>
		<string>Argentina</string>
		<key>locale</key>
		<string>AR</string>
		<key>zh</key>
		<string>阿根廷</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>374</integer>
		<key>en</key>
		<string>Armenia</string>
		<key>es</key>
		<string>Armenia</string>
		<key>locale</key>
		<string>AM</string>
		<key>zh</key>
		<string>亚美尼亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>247</integer>
		<key>en</key>
		<string>Ascension</string>
		<key>es</key>
		<string>Ascension</string>
		<key>locale</key>
		<string>SH</string>
		<key>zh</key>
		<string>阿森松</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>61</integer>
		<key>en</key>
		<string>Australia</string>
		<key>es</key>
		<string>Australia</string>
		<key>locale</key>
		<string>AU</string>
		<key>zh</key>
		<string>澳大利亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>43</integer>
		<key>en</key>
		<string>Austria</string>
		<key>es</key>
		<string>Austria</string>
		<key>locale</key>
		<string>AT</string>
		<key>zh</key>
		<string>奥地利</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>994</integer>
		<key>en</key>
		<string>Azerbaijan</string>
		<key>es</key>
		<string>Azerbaijan</string>
		<key>locale</key>
		<string>AZ</string>
		<key>zh</key>
		<string>阿塞拜疆</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1242</integer>
		<key>en</key>
		<string>Bahamas</string>
		<key>es</key>
		<string>Bahamas</string>
		<key>locale</key>
		<string>BS</string>
		<key>zh</key>
		<string>巴哈马</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>973</integer>
		<key>en</key>
		<string>Bahrain</string>
		<key>es</key>
		<string>Bahrain</string>
		<key>locale</key>
		<string>BH</string>
		<key>zh</key>
		<string>巴林</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>880</integer>
		<key>en</key>
		<string>Bangladesh</string>
		<key>es</key>
		<string>Bangladesh</string>
		<key>locale</key>
		<string>BD</string>
		<key>zh</key>
		<string>孟加拉国</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1246</integer>
		<key>en</key>
		<string>Barbados</string>
		<key>es</key>
		<string>Barbados</string>
		<key>locale</key>
		<string>BB</string>
		<key>zh</key>
		<string>巴巴多斯</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>375</integer>
		<key>en</key>
		<string>Belarus</string>
		<key>es</key>
		<string>Belarus</string>
		<key>locale</key>
		<string>BY</string>
		<key>zh</key>
		<string>白俄罗斯</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>32</integer>
		<key>en</key>
		<string>Belgium</string>
		<key>es</key>
		<string>Belgica</string>
		<key>locale</key>
		<string>BE</string>
		<key>zh</key>
		<string>比利时</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>501</integer>
		<key>en</key>
		<string>Belize</string>
		<key>es</key>
		<string>Belice</string>
		<key>locale</key>
		<string>BZ</string>
		<key>zh</key>
		<string>伯利兹</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>229</integer>
		<key>en</key>
		<string>Benin</string>
		<key>es</key>
		<string>Benin</string>
		<key>locale</key>
		<string>BJ</string>
		<key>zh</key>
		<string>贝宁</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1441</integer>
		<key>en</key>
		<string>Bermuda Is.</string>
		<key>es</key>
		<string>Islas Bermudas</string>
		<key>locale</key>
		<string>BM</string>
		<key>zh</key>
		<string>百慕大群岛</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>591</integer>
		<key>en</key>
		<string>Bolivia</string>
		<key>es</key>
		<string>Bolivia</string>
		<key>locale</key>
		<string>BO</string>
		<key>zh</key>
		<string>玻利维亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>267</integer>
		<key>en</key>
		<string>Botswana</string>
		<key>es</key>
		<string>Botswana</string>
		<key>locale</key>
		<string>BW</string>
		<key>zh</key>
		<string>博茨瓦纳</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>55</integer>
		<key>en</key>
		<string>Brazil</string>
		<key>es</key>
		<string>Brasil</string>
		<key>locale</key>
		<string>BR</string>
		<key>zh</key>
		<string>巴西</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>673</integer>
		<key>en</key>
		<string>Brunei</string>
		<key>es</key>
		<string>Brunei</string>
		<key>locale</key>
		<string>BN</string>
		<key>zh</key>
		<string>文莱</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>359</integer>
		<key>en</key>
		<string>Bulgaria</string>
		<key>es</key>
		<string>Bulgaria</string>
		<key>locale</key>
		<string>BG</string>
		<key>zh</key>
		<string>保加利亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>226</integer>
		<key>en</key>
		<string>Burkina-faso</string>
		<key>es</key>
		<string>Burkina-faso</string>
		<key>locale</key>
		<string>BF</string>
		<key>zh</key>
		<string>布基纳法索</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>95</integer>
		<key>en</key>
		<string>Burma</string>
		<key>es</key>
		<string>Burma</string>
		<key>locale</key>
		<string>MM</string>
		<key>zh</key>
		<string>缅甸</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>257</integer>
		<key>en</key>
		<string>Burundi</string>
		<key>es</key>
		<string>Burundi</string>
		<key>locale</key>
		<string>BI</string>
		<key>zh</key>
		<string>布隆迪</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>237</integer>
		<key>en</key>
		<string>Cameroon</string>
		<key>es</key>
		<string>Camerun</string>
		<key>locale</key>
		<string>CM</string>
		<key>zh</key>
		<string>喀麦隆</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1</integer>
		<key>en</key>
		<string>Canada</string>
		<key>es</key>
		<string>Canada</string>
		<key>locale</key>
		<string>CA</string>
		<key>zh</key>
		<string>加拿大</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1345</integer>
		<key>en</key>
		<string>Cayman Is.</string>
		<key>es</key>
		<string>Islas Cayman</string>
		<key>locale</key>
		<string>KY</string>
		<key>zh</key>
		<string>开曼群岛</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>236</integer>
		<key>en</key>
		<string>Central African Republic</string>
		<key>es</key>
		<string>Republica de Africa Central</string>
		<key>locale</key>
		<string>CF</string>
		<key>zh</key>
		<string>中非共和国</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>235</integer>
		<key>en</key>
		<string>Chad</string>
		<key>es</key>
		<string>Chad</string>
		<key>locale</key>
		<string>TD</string>
		<key>zh</key>
		<string>乍得</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>56</integer>
		<key>en</key>
		<string>Chile</string>
		<key>es</key>
		<string>Chile</string>
		<key>locale</key>
		<string>CL</string>
		<key>zh</key>
		<string>智利</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>86</integer>
		<key>en</key>
		<string>China</string>
		<key>es</key>
		<string>China</string>
		<key>locale</key>
		<string>CN</string>
		<key>zh</key>
		<string>中国</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>57</integer>
		<key>en</key>
		<string>Colombia</string>
		<key>es</key>
		<string>Colombia</string>
		<key>locale</key>
		<string>CO</string>
		<key>zh</key>
		<string>哥伦比亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>242</integer>
		<key>en</key>
		<string>Congo</string>
		<key>es</key>
		<string>Congo</string>
		<key>locale</key>
		<string>CG</string>
		<key>zh</key>
		<string>刚果</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>682</integer>
		<key>en</key>
		<string>Cook Is.</string>
		<key>es</key>
		<string>Islas Cook</string>
		<key>locale</key>
		<string>CK</string>
		<key>zh</key>
		<string>库克群岛</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>506</integer>
		<key>en</key>
		<string>Costa Rica</string>
		<key>es</key>
		<string>Costa Rica</string>
		<key>locale</key>
		<string>CR</string>
		<key>zh</key>
		<string>哥斯达黎加</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>53</integer>
		<key>en</key>
		<string>Cuba</string>
		<key>es</key>
		<string>Cuba</string>
		<key>locale</key>
		<string>CU</string>
		<key>zh</key>
		<string>古巴</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>357</integer>
		<key>en</key>
		<string>Cyprus</string>
		<key>es</key>
		<string>Cyprus</string>
		<key>locale</key>
		<string>CY</string>
		<key>zh</key>
		<string>塞浦路斯</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>420</integer>
		<key>en</key>
		<string>Czech Republic</string>
		<key>es</key>
		<string>Republica Checa</string>
		<key>locale</key>
		<string>CZ</string>
		<key>zh</key>
		<string>捷克</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>45</integer>
		<key>en</key>
		<string>Denmark</string>
		<key>es</key>
		<string>Dinamarca</string>
		<key>locale</key>
		<string>DK</string>
		<key>zh</key>
		<string>丹麦</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>253</integer>
		<key>en</key>
		<string>Djibouti</string>
		<key>es</key>
		<string>Djibouti</string>
		<key>locale</key>
		<string>DJ</string>
		<key>zh</key>
		<string>吉布提</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1890</integer>
		<key>en</key>
		<string>Dominica Rep.</string>
		<key>es</key>
		<string>Republica Dominica</string>
		<key>locale</key>
		<string>DO</string>
		<key>zh</key>
		<string>多米尼加共和国</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>593</integer>
		<key>en</key>
		<string>Ecuador</string>
		<key>es</key>
		<string>Ecuador</string>
		<key>locale</key>
		<string>EC</string>
		<key>zh</key>
		<string>厄瓜多尔</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>20</integer>
		<key>en</key>
		<string>Egypt</string>
		<key>es</key>
		<string>Egipto</string>
		<key>locale</key>
		<string>EG</string>
		<key>zh</key>
		<string>埃及</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>503</integer>
		<key>en</key>
		<string>El Salvador</string>
		<key>es</key>
		<string>El Salvador</string>
		<key>locale</key>
		<string>SV</string>
		<key>zh</key>
		<string>萨尔瓦多</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>372</integer>
		<key>en</key>
		<string>Estonia</string>
		<key>es</key>
		<string>Estonia</string>
		<key>locale</key>
		<string>EE</string>
		<key>zh</key>
		<string>爱沙尼亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>251</integer>
		<key>en</key>
		<string>Ethiopia</string>
		<key>es</key>
		<string>Etiopia</string>
		<key>locale</key>
		<string>ET</string>
		<key>zh</key>
		<string>埃塞俄比亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>679</integer>
		<key>en</key>
		<string>Fiji</string>
		<key>es</key>
		<string>Fiji</string>
		<key>locale</key>
		<string>FJ</string>
		<key>zh</key>
		<string>斐济</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>358</integer>
		<key>en</key>
		<string>Finland</string>
		<key>es</key>
		<string>Finlandia</string>
		<key>locale</key>
		<string>FI</string>
		<key>zh</key>
		<string>芬兰</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>33</integer>
		<key>en</key>
		<string>France</string>
		<key>es</key>
		<string>Francia</string>
		<key>locale</key>
		<string>FR</string>
		<key>zh</key>
		<string>法国</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>594</integer>
		<key>en</key>
		<string>French Guiana</string>
		<key>es</key>
		<string>Guyana Francesa</string>
		<key>locale</key>
		<string>GF</string>
		<key>zh</key>
		<string>法属圭亚那</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>241</integer>
		<key>en</key>
		<string>Gabon</string>
		<key>es</key>
		<string>Gabon</string>
		<key>locale</key>
		<string>GA</string>
		<key>zh</key>
		<string>加蓬</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>220</integer>
		<key>en</key>
		<string>Gambia</string>
		<key>es</key>
		<string>Gambia</string>
		<key>locale</key>
		<string>GM</string>
		<key>zh</key>
		<string>冈比亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>995</integer>
		<key>en</key>
		<string>Georgia</string>
		<key>es</key>
		<string>Georgia</string>
		<key>locale</key>
		<string>GE</string>
		<key>zh</key>
		<string>格鲁吉亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>49</integer>
		<key>en</key>
		<string>Germany</string>
		<key>es</key>
		<string>Alemania</string>
		<key>locale</key>
		<string>DE</string>
		<key>zh</key>
		<string>德国</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>233</integer>
		<key>en</key>
		<string>Ghana</string>
		<key>es</key>
		<string>Ghana</string>
		<key>locale</key>
		<string>GH</string>
		<key>zh</key>
		<string>加纳</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>350</integer>
		<key>en</key>
		<string>Gibraltar</string>
		<key>es</key>
		<string>Gibraltar</string>
		<key>locale</key>
		<string>GI</string>
		<key>zh</key>
		<string>直布罗陀</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>30</integer>
		<key>en</key>
		<string>Greece</string>
		<key>es</key>
		<string>Grecia</string>
		<key>locale</key>
		<string>GR</string>
		<key>zh</key>
		<string>希腊</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1809</integer>
		<key>en</key>
		<string>Grenada</string>
		<key>es</key>
		<string>Granada</string>
		<key>locale</key>
		<string>GD</string>
		<key>zh</key>
		<string>格林纳达</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1671</integer>
		<key>en</key>
		<string>Guam</string>
		<key>es</key>
		<string>Guam</string>
		<key>locale</key>
		<string>GU</string>
		<key>zh</key>
		<string>关岛</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>502</integer>
		<key>en</key>
		<string>Guatemala</string>
		<key>es</key>
		<string>Guatemala</string>
		<key>locale</key>
		<string>GT</string>
		<key>zh</key>
		<string>危地马拉</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>224</integer>
		<key>en</key>
		<string>Guinea</string>
		<key>es</key>
		<string>Guinea</string>
		<key>locale</key>
		<string>GN</string>
		<key>zh</key>
		<string>几内亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>592</integer>
		<key>en</key>
		<string>Guyana</string>
		<key>es</key>
		<string>Guyana</string>
		<key>locale</key>
		<string>GY</string>
		<key>zh</key>
		<string>圭亚那</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>509</integer>
		<key>en</key>
		<string>Haiti</string>
		<key>es</key>
		<string>Haiti</string>
		<key>locale</key>
		<string>HT</string>
		<key>zh</key>
		<string>海地</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>504</integer>
		<key>en</key>
		<string>Honduras</string>
		<key>es</key>
		<string>Honduras</string>
		<key>locale</key>
		<string>HN</string>
		<key>zh</key>
		<string>洪都拉斯</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>852</integer>
		<key>en</key>
		<string>Hongkong</string>
		<key>es</key>
		<string>Hongkong</string>
		<key>locale</key>
		<string>HK</string>
		<key>zh</key>
		<string>香港</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>36</integer>
		<key>en</key>
		<string>Hungary</string>
		<key>es</key>
		<string>Hungria</string>
		<key>locale</key>
		<string>HU</string>
		<key>zh</key>
		<string>匈牙利</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>354</integer>
		<key>en</key>
		<string>Iceland</string>
		<key>es</key>
		<string>Islandia</string>
		<key>locale</key>
		<string>IS</string>
		<key>zh</key>
		<string>冰岛</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>91</integer>
		<key>en</key>
		<string>India</string>
		<key>es</key>
		<string>India</string>
		<key>locale</key>
		<string>IN</string>
		<key>zh</key>
		<string>印度</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>62</integer>
		<key>en</key>
		<string>Indonesia</string>
		<key>es</key>
		<string>Indonesia</string>
		<key>locale</key>
		<string>ID</string>
		<key>zh</key>
		<string>印度尼西亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>98</integer>
		<key>en</key>
		<string>Iran</string>
		<key>es</key>
		<string>Iran</string>
		<key>locale</key>
		<string>IR</string>
		<key>zh</key>
		<string>伊朗</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>964</integer>
		<key>en</key>
		<string>Iraq</string>
		<key>es</key>
		<string>Iraq</string>
		<key>locale</key>
		<string>IQ</string>
		<key>zh</key>
		<string>伊拉克</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>353</integer>
		<key>en</key>
		<string>Ireland</string>
		<key>es</key>
		<string>Irlanda</string>
		<key>locale</key>
		<string>IE</string>
		<key>zh</key>
		<string>爱尔兰</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>972</integer>
		<key>en</key>
		<string>Israel</string>
		<key>es</key>
		<string>Israel</string>
		<key>locale</key>
		<string>IL</string>
		<key>zh</key>
		<string>以色列</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>39</integer>
		<key>en</key>
		<string>Italy</string>
		<key>es</key>
		<string>Italia</string>
		<key>locale</key>
		<string>IT</string>
		<key>zh</key>
		<string>意大利</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>225</integer>
		<key>en</key>
		<string>Ivory Coast</string>
		<key>es</key>
		<string>Costa de Marfil</string>
		<key>locale</key>
		<string>KT</string>
		<key>zh</key>
		<string>科特迪瓦</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1876</integer>
		<key>en</key>
		<string>Jamaica</string>
		<key>es</key>
		<string>Jamaica</string>
		<key>locale</key>
		<string>JM</string>
		<key>zh</key>
		<string>牙买加</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>81</integer>
		<key>en</key>
		<string>Japan</string>
		<key>es</key>
		<string>Japon</string>
		<key>locale</key>
		<string>JP</string>
		<key>zh</key>
		<string>日本</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>962</integer>
		<key>en</key>
		<string>Jordan</string>
		<key>es</key>
		<string>Jordania</string>
		<key>locale</key>
		<string>JO</string>
		<key>zh</key>
		<string>约旦</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>855</integer>
		<key>en</key>
		<string>Kampuchea (Cambodia)</string>
		<key>es</key>
		<string>Camboya</string>
		<key>locale</key>
		<string>KH</string>
		<key>zh</key>
		<string>柬埔寨</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>327</integer>
		<key>en</key>
		<string>Kazakstan</string>
		<key>es</key>
		<string>Kazajistán</string>
		<key>locale</key>
		<string>KZ</string>
		<key>zh</key>
		<string>哈萨克斯坦</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>254</integer>
		<key>en</key>
		<string>Kenya</string>
		<key>es</key>
		<string>Kenia</string>
		<key>locale</key>
		<string>KE</string>
		<key>zh</key>
		<string>肯尼亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>82</integer>
		<key>en</key>
		<string>Korea</string>
		<key>es</key>
		<string>Korea</string>
		<key>locale</key>
		<string>KR</string>
		<key>zh</key>
		<string>韩国</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>965</integer>
		<key>en</key>
		<string>Kuwait</string>
		<key>es</key>
		<string>Kuwait</string>
		<key>locale</key>
		<string>KW</string>
		<key>zh</key>
		<string>科威特</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>331</integer>
		<key>en</key>
		<string>Kyrgyzstan</string>
		<key>es</key>
		<string>Kirguistán</string>
		<key>locale</key>
		<string>KG</string>
		<key>zh</key>
		<string>吉尔吉斯坦</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>856</integer>
		<key>en</key>
		<string>Laos</string>
		<key>es</key>
		<string>Laos</string>
		<key>locale</key>
		<string>LA</string>
		<key>zh</key>
		<string>老挝</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>371</integer>
		<key>en</key>
		<string>Latvia</string>
		<key>es</key>
		<string>Letonia</string>
		<key>locale</key>
		<string>LV</string>
		<key>zh</key>
		<string>拉脱维亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>961</integer>
		<key>en</key>
		<string>Lebanon</string>
		<key>es</key>
		<string>Libano</string>
		<key>locale</key>
		<string>LB</string>
		<key>zh</key>
		<string>黎巴嫩</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>266</integer>
		<key>en</key>
		<string>Lesotho</string>
		<key>es</key>
		<string>Lesoto</string>
		<key>locale</key>
		<string>LS</string>
		<key>zh</key>
		<string>莱索托</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>231</integer>
		<key>en</key>
		<string>Liberia</string>
		<key>es</key>
		<string>Liberia</string>
		<key>locale</key>
		<string>LR</string>
		<key>zh</key>
		<string>利比里亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>218</integer>
		<key>en</key>
		<string>Libya</string>
		<key>es</key>
		<string>Libia</string>
		<key>locale</key>
		<string>LY</string>
		<key>zh</key>
		<string>利比亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>423</integer>
		<key>en</key>
		<string>Liechtenstein</string>
		<key>es</key>
		<string>Liechtenstein</string>
		<key>locale</key>
		<string>LI</string>
		<key>zh</key>
		<string>列支敦士登</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>370</integer>
		<key>en</key>
		<string>Lithuania</string>
		<key>es</key>
		<string>Lituania</string>
		<key>locale</key>
		<string>LT</string>
		<key>zh</key>
		<string>立陶宛</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>352</integer>
		<key>en</key>
		<string>Luxembourg</string>
		<key>es</key>
		<string>Luxemburgo</string>
		<key>locale</key>
		<string>LU</string>
		<key>zh</key>
		<string>卢森堡</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>853</integer>
		<key>en</key>
		<string>Macao</string>
		<key>es</key>
		<string>Macao</string>
		<key>locale</key>
		<string>MO</string>
		<key>zh</key>
		<string>澳门</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>261</integer>
		<key>en</key>
		<string>Madagascar</string>
		<key>es</key>
		<string>Madagascar</string>
		<key>locale</key>
		<string>MG</string>
		<key>zh</key>
		<string>马达加斯加</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>265</integer>
		<key>en</key>
		<string>Malawi</string>
		<key>es</key>
		<string>Malawi</string>
		<key>locale</key>
		<string>MW</string>
		<key>zh</key>
		<string>马拉维</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>60</integer>
		<key>en</key>
		<string>Malaysia</string>
		<key>es</key>
		<string>Malasia</string>
		<key>locale</key>
		<string>MY</string>
		<key>zh</key>
		<string>马来西亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>960</integer>
		<key>en</key>
		<string>Maldives</string>
		<key>es</key>
		<string>Maldivas</string>
		<key>locale</key>
		<string>MV</string>
		<key>zh</key>
		<string>马尔代夫</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>223</integer>
		<key>en</key>
		<string>Mali</string>
		<key>es</key>
		<string>Mali</string>
		<key>locale</key>
		<string>ML</string>
		<key>zh</key>
		<string>马里</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>356</integer>
		<key>en</key>
		<string>Malta</string>
		<key>es</key>
		<string>Malta</string>
		<key>locale</key>
		<string>MT</string>
		<key>zh</key>
		<string>马耳他</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1670</integer>
		<key>en</key>
		<string>Mariana Is</string>
		<key>es</key>
		<string>Islas Marianas</string>
		<key>locale</key>
		<string>MP</string>
		<key>zh</key>
		<string>马里亚那群岛</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>596</integer>
		<key>en</key>
		<string>Martinique</string>
		<key>es</key>
		<string>Martinica</string>
		<key>locale</key>
		<string>MQ</string>
		<key>zh</key>
		<string>马提尼克</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>230</integer>
		<key>en</key>
		<string>Mauritius</string>
		<key>es</key>
		<string>Mauricio</string>
		<key>locale</key>
		<string>MU</string>
		<key>zh</key>
		<string>毛里求斯</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>52</integer>
		<key>en</key>
		<string>Mexico</string>
		<key>es</key>
		<string>Mexico</string>
		<key>locale</key>
		<string>MX</string>
		<key>zh</key>
		<string>墨西哥</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>373</integer>
		<key>en</key>
		<string>Moldova, Republic of</string>
		<key>es</key>
		<string>Republica de Moldova</string>
		<key>locale</key>
		<string>MD</string>
		<key>zh</key>
		<string>摩尔多瓦</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>377</integer>
		<key>en</key>
		<string>Monaco</string>
		<key>es</key>
		<string>Monaco</string>
		<key>locale</key>
		<string>MC</string>
		<key>zh</key>
		<string>摩纳哥</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>976</integer>
		<key>en</key>
		<string>Mongolia</string>
		<key>es</key>
		<string>Mongolia</string>
		<key>locale</key>
		<string>MN</string>
		<key>zh</key>
		<string>蒙古</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1664</integer>
		<key>en</key>
		<string>Montserrat Is</string>
		<key>es</key>
		<string>Isla de Montserrat</string>
		<key>locale</key>
		<string>MS</string>
		<key>zh</key>
		<string>蒙特塞拉特岛</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>212</integer>
		<key>en</key>
		<string>Morocco</string>
		<key>es</key>
		<string>Marruecos</string>
		<key>locale</key>
		<string>MA</string>
		<key>zh</key>
		<string>摩洛哥</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>258</integer>
		<key>en</key>
		<string>Mozambique</string>
		<key>es</key>
		<string>Mozambique</string>
		<key>locale</key>
		<string>MZ</string>
		<key>zh</key>
		<string>莫桑比克</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>264</integer>
		<key>en</key>
		<string>Namibia</string>
		<key>es</key>
		<string>Namibia</string>
		<key>locale</key>
		<string>NA</string>
		<key>zh</key>
		<string>纳米比亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>674</integer>
		<key>en</key>
		<string>Nauru</string>
		<key>es</key>
		<string>Nauru</string>
		<key>locale</key>
		<string>NR</string>
		<key>zh</key>
		<string>瑙鲁</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>977</integer>
		<key>en</key>
		<string>Nepal</string>
		<key>es</key>
		<string>Nepal</string>
		<key>locale</key>
		<string>NP</string>
		<key>zh</key>
		<string>尼泊尔</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>599</integer>
		<key>en</key>
		<string>Netheriands Antilles</string>
		<key>es</key>
		<string>Antillas Neerlandesas</string>
		<key>locale</key>
		<string>AN</string>
		<key>zh</key>
		<string>荷属安的列斯</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>31</integer>
		<key>en</key>
		<string>Netherlands</string>
		<key>es</key>
		<string>Países Bajos</string>
		<key>locale</key>
		<string>NL</string>
		<key>zh</key>
		<string>荷兰</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>64</integer>
		<key>en</key>
		<string>New Zealand</string>
		<key>es</key>
		<string>Nueva Zelanda</string>
		<key>locale</key>
		<string>NZ</string>
		<key>zh</key>
		<string>新西兰</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>505</integer>
		<key>en</key>
		<string>Nicaragua</string>
		<key>es</key>
		<string>Nicaragua</string>
		<key>locale</key>
		<string>NI</string>
		<key>zh</key>
		<string>尼加拉瓜</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>227</integer>
		<key>en</key>
		<string>Niger</string>
		<key>es</key>
		<string>Niger</string>
		<key>locale</key>
		<string>NE</string>
		<key>zh</key>
		<string>尼日尔</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>234</integer>
		<key>en</key>
		<string>Nigeria</string>
		<key>es</key>
		<string>Nigeria</string>
		<key>locale</key>
		<string>NG</string>
		<key>zh</key>
		<string>尼日利亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>850</integer>
		<key>en</key>
		<string>North Korea</string>
		<key>es</key>
		<string>Korea del Norte</string>
		<key>locale</key>
		<string>KP</string>
		<key>zh</key>
		<string>朝鲜</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>47</integer>
		<key>en</key>
		<string>Norway</string>
		<key>es</key>
		<string>Noruega</string>
		<key>locale</key>
		<string>NO</string>
		<key>zh</key>
		<string>挪威</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>968</integer>
		<key>en</key>
		<string>Oman</string>
		<key>es</key>
		<string>Oman</string>
		<key>locale</key>
		<string>OM</string>
		<key>zh</key>
		<string>阿曼</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>92</integer>
		<key>en</key>
		<string>Pakistan</string>
		<key>es</key>
		<string>Pakistan</string>
		<key>locale</key>
		<string>PK</string>
		<key>zh</key>
		<string>巴基斯坦</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>507</integer>
		<key>en</key>
		<string>Panama</string>
		<key>es</key>
		<string>Panama</string>
		<key>locale</key>
		<string>PA</string>
		<key>zh</key>
		<string>巴拿马</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>675</integer>
		<key>en</key>
		<string>Papua New Guinea</string>
		<key>es</key>
		<string>Papua Nueva Guinea</string>
		<key>locale</key>
		<string>PG</string>
		<key>zh</key>
		<string>巴布亚新几内亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>595</integer>
		<key>en</key>
		<string>Paraguay</string>
		<key>es</key>
		<string>Paraguay</string>
		<key>locale</key>
		<string>PY</string>
		<key>zh</key>
		<string>巴拉圭</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>51</integer>
		<key>en</key>
		<string>Peru</string>
		<key>es</key>
		<string>Peru</string>
		<key>locale</key>
		<string>PE</string>
		<key>zh</key>
		<string>秘鲁</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>63</integer>
		<key>en</key>
		<string>Philippines</string>
		<key>es</key>
		<string>Filipinas</string>
		<key>locale</key>
		<string>PH</string>
		<key>zh</key>
		<string>菲律宾</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>48</integer>
		<key>en</key>
		<string>Poland</string>
		<key>es</key>
		<string>Polonia</string>
		<key>locale</key>
		<string>PL</string>
		<key>zh</key>
		<string>波兰</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>689</integer>
		<key>en</key>
		<string>French Polynesia</string>
		<key>es</key>
		<string>Polinesia Francesa</string>
		<key>locale</key>
		<string>PF</string>
		<key>zh</key>
		<string>法属玻利尼西亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>351</integer>
		<key>en</key>
		<string>Portugal</string>
		<key>es</key>
		<string>Portugal</string>
		<key>locale</key>
		<string>PT</string>
		<key>zh</key>
		<string>葡萄牙</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1787</integer>
		<key>en</key>
		<string>Puerto Rico</string>
		<key>es</key>
		<string>Puerto Rico</string>
		<key>locale</key>
		<string>PR</string>
		<key>zh</key>
		<string>波多黎各</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>974</integer>
		<key>en</key>
		<string>Qatar</string>
		<key>es</key>
		<string>Qatar</string>
		<key>locale</key>
		<string>QA</string>
		<key>zh</key>
		<string>卡塔尔</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>262</integer>
		<key>en</key>
		<string>Reunion</string>
		<key>es</key>
		<string>Reunion</string>
		<key>locale</key>
		<string>RE</string>
		<key>zh</key>
		<string>留尼旺</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>40</integer>
		<key>en</key>
		<string>Romania</string>
		<key>es</key>
		<string>Rumania</string>
		<key>locale</key>
		<string>RO</string>
		<key>zh</key>
		<string>罗马尼亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>7</integer>
		<key>en</key>
		<string>Russia</string>
		<key>es</key>
		<string>Rusia</string>
		<key>locale</key>
		<string>RU</string>
		<key>zh</key>
		<string>俄罗斯</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1758</integer>
		<key>en</key>
		<string>Saint Lucia</string>
		<key>es</key>
		<string>Santa Lucía</string>
		<key>locale</key>
		<string>LC</string>
		<key>zh</key>
		<string>圣卢西亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1784</integer>
		<key>en</key>
		<string>Saint Vincent</string>
		<key>es</key>
		<string>San Vicente</string>
		<key>locale</key>
		<string>VC</string>
		<key>zh</key>
		<string>圣文森特岛</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>684</integer>
		<key>en</key>
		<string>Samoa Eastern</string>
		<key>es</key>
		<string>Samoa Oriental</string>
		<key>locale</key>
		<string>AS</string>
		<key>zh</key>
		<string>东萨摩亚(美)</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>685</integer>
		<key>en</key>
		<string>Samoa Western</string>
		<key>es</key>
		<string>Samoa Occidental</string>
		<key>locale</key>
		<string>WS</string>
		<key>zh</key>
		<string>西萨摩亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>378</integer>
		<key>en</key>
		<string>San Marino</string>
		<key>es</key>
		<string>San Marino</string>
		<key>locale</key>
		<string>SM</string>
		<key>zh</key>
		<string>圣马力诺</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>239</integer>
		<key>en</key>
		<string>Sao Tome and Principe</string>
		<key>es</key>
		<string>Santo Tomé y Príncipe</string>
		<key>locale</key>
		<string>ST</string>
		<key>zh</key>
		<string>圣多美和普林西比</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>966</integer>
		<key>en</key>
		<string>Saudi Arabia</string>
		<key>es</key>
		<string>Arabia Saudita</string>
		<key>locale</key>
		<string>SA</string>
		<key>zh</key>
		<string>沙特阿拉伯</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>221</integer>
		<key>en</key>
		<string>Senegal</string>
		<key>es</key>
		<string>Senegal</string>
		<key>locale</key>
		<string>SN</string>
		<key>zh</key>
		<string>塞内加尔</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>248</integer>
		<key>en</key>
		<string>Seychelles</string>
		<key>es</key>
		<string>Seychelles</string>
		<key>locale</key>
		<string>SC</string>
		<key>zh</key>
		<string>塞舌尔</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>232</integer>
		<key>en</key>
		<string>Sierra Leone</string>
		<key>es</key>
		<string>Sierra Leona</string>
		<key>locale</key>
		<string>SL</string>
		<key>zh</key>
		<string>塞拉利昂</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>65</integer>
		<key>en</key>
		<string>Singapore</string>
		<key>es</key>
		<string>Singapur</string>
		<key>locale</key>
		<string>SG</string>
		<key>zh</key>
		<string>新加坡</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>421</integer>
		<key>en</key>
		<string>Slovakia</string>
		<key>es</key>
		<string>Eslovaquia</string>
		<key>locale</key>
		<string>SK</string>
		<key>zh</key>
		<string>斯洛伐克</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>386</integer>
		<key>en</key>
		<string>Slovenia</string>
		<key>es</key>
		<string>Eslovenia</string>
		<key>locale</key>
		<string>SI</string>
		<key>zh</key>
		<string>斯洛文尼亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>677</integer>
		<key>en</key>
		<string>Solomon Is</string>
		<key>es</key>
		<string>Islas Salomón</string>
		<key>locale</key>
		<string>SB</string>
		<key>zh</key>
		<string>所罗门群岛</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>252</integer>
		<key>en</key>
		<string>Somali</string>
		<key>es</key>
		<string>Somalia</string>
		<key>locale</key>
		<string>SO</string>
		<key>zh</key>
		<string>索马里</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>27</integer>
		<key>en</key>
		<string>South Africa</string>
		<key>es</key>
		<string>Sudafrica</string>
		<key>locale</key>
		<string>ZA</string>
		<key>zh</key>
		<string>南非</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>34</integer>
		<key>en</key>
		<string>Spain</string>
		<key>es</key>
		<string>España</string>
		<key>locale</key>
		<string>ES</string>
		<key>zh</key>
		<string>西班牙</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>94</integer>
		<key>en</key>
		<string>Sri Lanka</string>
		<key>es</key>
		<string>Sri Lanka</string>
		<key>locale</key>
		<string>LK</string>
		<key>zh</key>
		<string>斯里兰卡</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1758</integer>
		<key>en</key>
		<string>St.Lucia</string>
		<key>es</key>
		<string>Santa Lucia</string>
		<key>locale</key>
		<string>LC</string>
		<key>zh</key>
		<string>圣卢西亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1784</integer>
		<key>en</key>
		<string>St.Vincent</string>
		<key>es</key>
		<string>San Vicente</string>
		<key>locale</key>
		<string>VC</string>
		<key>zh</key>
		<string>圣文森特</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>249</integer>
		<key>en</key>
		<string>Sudan</string>
		<key>es</key>
		<string>Sudan</string>
		<key>locale</key>
		<string>SD</string>
		<key>zh</key>
		<string>苏丹</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>597</integer>
		<key>en</key>
		<string>Suriname</string>
		<key>es</key>
		<string>Suriname</string>
		<key>locale</key>
		<string>SR</string>
		<key>zh</key>
		<string>苏里南</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>268</integer>
		<key>en</key>
		<string>Swaziland</string>
		<key>es</key>
		<string>Suazilandia</string>
		<key>locale</key>
		<string>SZ</string>
		<key>zh</key>
		<string>斯威士兰</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>46</integer>
		<key>en</key>
		<string>Sweden</string>
		<key>es</key>
		<string>Suecia</string>
		<key>locale</key>
		<string>SE</string>
		<key>zh</key>
		<string>瑞典</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>41</integer>
		<key>en</key>
		<string>Switzerland</string>
		<key>es</key>
		<string>Suiza</string>
		<key>locale</key>
		<string>CH</string>
		<key>zh</key>
		<string>瑞士</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>963</integer>
		<key>en</key>
		<string>Syria</string>
		<key>es</key>
		<string>Siria</string>
		<key>locale</key>
		<string>SY</string>
		<key>zh</key>
		<string>叙利亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>886</integer>
		<key>en</key>
		<string>Taiwan</string>
		<key>es</key>
		<string>Taiwan</string>
		<key>locale</key>
		<string>TW</string>
		<key>zh</key>
		<string>台湾省</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>992</integer>
		<key>en</key>
		<string>Tajikstan</string>
		<key>es</key>
		<string>Tajikstan</string>
		<key>locale</key>
		<string>TJ</string>
		<key>zh</key>
		<string>塔吉克斯坦</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>255</integer>
		<key>en</key>
		<string>Tanzania</string>
		<key>es</key>
		<string>Tanzania</string>
		<key>locale</key>
		<string>TZ</string>
		<key>zh</key>
		<string>坦桑尼亚</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>66</integer>
		<key>en</key>
		<string>Thailand</string>
		<key>es</key>
		<string>Tailandia</string>
		<key>locale</key>
		<string>TH</string>
		<key>zh</key>
		<string>泰国</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>228</integer>
		<key>en</key>
		<string>Togo</string>
		<key>es</key>
		<string>Togo</string>
		<key>locale</key>
		<string>TG</string>
		<key>zh</key>
		<string>多哥</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>676</integer>
		<key>en</key>
		<string>Tonga</string>
		<key>es</key>
		<string>Tonga</string>
		<key>locale</key>
		<string>TO</string>
		<key>zh</key>
		<string>汤加</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1809</integer>
		<key>en</key>
		<string>Trinidad and Tobago</string>
		<key>es</key>
		<string>Trinidad y Tobago</string>
		<key>locale</key>
		<string>TT</string>
		<key>zh</key>
		<string>特立尼达和多巴哥</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>216</integer>
		<key>en</key>
		<string>Tunisia</string>
		<key>es</key>
		<string>Tunisia</string>
		<key>locale</key>
		<string>TN</string>
		<key>zh</key>
		<string>突尼斯</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>90</integer>
		<key>en</key>
		<string>Turkey</string>
		<key>es</key>
		<string>Turquia</string>
		<key>locale</key>
		<string>TR</string>
		<key>zh</key>
		<string>土耳其</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>993</integer>
		<key>en</key>
		<string>Turkmenistan</string>
		<key>es</key>
		<string>Turkmenistan</string>
		<key>locale</key>
		<string>TM</string>
		<key>zh</key>
		<string>土库曼斯坦</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>256</integer>
		<key>en</key>
		<string>Uganda</string>
		<key>es</key>
		<string>Uganda</string>
		<key>locale</key>
		<string>UG</string>
		<key>zh</key>
		<string>乌干达</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>380</integer>
		<key>en</key>
		<string>Ukraine</string>
		<key>es</key>
		<string>Ucrania</string>
		<key>locale</key>
		<string>UA</string>
		<key>zh</key>
		<string>乌克兰</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>971</integer>
		<key>en</key>
		<string>United Arab Emirates</string>
		<key>es</key>
		<string>Emiratos Arabes Unidos</string>
		<key>locale</key>
		<string>AE</string>
		<key>zh</key>
		<string>阿拉伯联合酋长国</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>44</integer>
		<key>en</key>
		<string>United Kingdom</string>
		<key>es</key>
		<string>Reino unido</string>
		<key>locale</key>
		<string>GB</string>
		<key>zh</key>
		<string>英国</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>1</integer>
		<key>en</key>
		<string>United States of America</string>
		<key>es</key>
		<string>Estados Unidos de America</string>
		<key>locale</key>
		<string>US</string>
		<key>zh</key>
		<string>美国</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>598</integer>
		<key>en</key>
		<string>Uruguay</string>
		<key>es</key>
		<string>Uruguay</string>
		<key>locale</key>
		<string>UY</string>
		<key>zh</key>
		<string>乌拉圭</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>233</integer>
		<key>en</key>
		<string>Uzbekistan</string>
		<key>es</key>
		<string>Uzbekistan</string>
		<key>locale</key>
		<string>UZ</string>
		<key>zh</key>
		<string>乌兹别克斯坦</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>58</integer>
		<key>en</key>
		<string>Venezuela</string>
		<key>es</key>
		<string>Venezuela</string>
		<key>locale</key>
		<string>VE</string>
		<key>zh</key>
		<string>委内瑞拉</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>84</integer>
		<key>en</key>
		<string>Vietnam</string>
		<key>es</key>
		<string>Vietnam</string>
		<key>locale</key>
		<string>VN</string>
		<key>zh</key>
		<string>越南</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>967</integer>
		<key>en</key>
		<string>Yemen</string>
		<key>es</key>
		<string>Yemen</string>
		<key>locale</key>
		<string>YE</string>
		<key>zh</key>
		<string>也门</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>381</integer>
		<key>en</key>
		<string>Yugoslavia</string>
		<key>es</key>
		<string>Yugoslavia</string>
		<key>locale</key>
		<string>YU</string>
		<key>zh</key>
		<string>南斯拉夫</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>263</integer>
		<key>en</key>
		<string>Zimbabwe</string>
		<key>es</key>
		<string>Zimbabue</string>
		<key>locale</key>
		<string>ZW</string>
		<key>zh</key>
		<string>津巴布韦</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>243</integer>
		<key>en</key>
		<string>Zaire</string>
		<key>es</key>
		<string>Zaire</string>
		<key>locale</key>
		<string>ZR</string>
		<key>zh</key>
		<string>扎伊尔</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>260</integer>
		<key>en</key>
		<string>Zambia</string>
		<key>es</key>
		<string>Zambia</string>
		<key>locale</key>
		<string>ZM</string>
		<key>zh</key>
		<string>赞比亚</string>
	</dict>
</array>
</plist>
